@import '../fonts/Fonts.css';
@import 'Common.css';
@import 'MFXColors.css';

.progress-indicator:indeterminate .segment {
    -fx-background-color: #079B8C;
    -fx-background-radius: 50em;
    -fx-progress-color: #00ff00;
    -fx-font-size: 2em;
}

.mfx-progress-bar .track {
    -fx-fill: #079B8C;
    -fx-stroke: #079B8C;
    -fx-stroke-width: 2;
}

.mfx-progress-bar .bar1,
.mfx-progress-bar .bar2 {
    -fx-stroke: #079B8C;
    -fx-stroke-width: 1;
    -fx-fill: white;
}